ul{
  font-family: Arial, Helvetica, sans-serif;
  list-style: square;
  
}

h4{
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.contenedor-incidencias{
display: flex;

}

main{
  flex: 1;
  padding: 20px;
  background-color: bisque;
  border: 20px solid white;

}

aside{
width: 600px;
padding: 20px;
background-color: bisque;
border: 20px solid white;

}